streamlit==1.44.1
pandas==2.2.3
numpy==2.2.4
plotly==5.24.1
groq==0.21.0
langchain==0.3.22
langchain-community==0.3.20
langchain-openai==0.3.11
python-dotenv==1.1.0
pypdf==5.4.0
PyMuPDF==1.25.5
faiss-cpu==1.10.0
